/* &display=swap&subset=cyrillic-ext */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}
html,
body {
    height: 100%;
}
html {
    font-size: 18px;
    /* по умолчанию */
}
body {
    font-family: "Poppins";
    line-height: 1;
    color: #9C9C9C;
    background-color: #0D0D11;
    font-weight: 300;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
.main {
    
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}
.button {
  background-color: #3D96F4;
  border-radius: 50px;
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.43;
  padding: 16px 30px;
  transition: background-color 0.3s ease 0s;
}
.button-dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button:hover {
  background-color: #77b2f1;
}
.button-dark:hover {
  background-color: rgba(199, 199, 203, 0.2);
}
button {
  background: transparent; /*чтобы убрать бэкграунд у бургера*/
}
.header-main__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  color: #FFFFFF;
  margin-bottom: 28px;
}
.main__title {
  position: relative;
}
.main__title::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 122px;
  top: -25px;
  left: -34px;
  background: url("../img/hero/decor.svg") 0 0 / 100% no-repeat;
}
.header-main__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 11px 19px;
  color: #9C9C9C;
  margin-bottom: 19px;
  transition: border 0.3s ease 0s;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}
.header-main__text {
  line-height: 1.5; 
  margin-bottom: 33px;
}
.text {
  color: #81818B;
  line-height: 1.5;
}
/* ======HEADER====== */
.header {
  z-index: 50;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 1);
}
.header__container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 5px; /*отсуп безопасности для адаптива*/
  padding-bottom: 5px; /*отсуп безопасности для адаптиваа*/
  min-height: 116px; /*высота хедера*/
  column-gap: 35px;
}
/* достаем на вверх логотип для мобилки */
.header__logo {
  
}
.header__menu {
  flex: 1 1 auto; /*позволяем занимать все досутпное пространство*/
}
.menu {

}
.menu__body {

}
.menu__icon {

}
.icon-menu {
  display: none;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end; /*прижимаем к концу*/
  column-gap: 35px;
  row-gap: 3px;
}
.menu__item {

}
.menu__link {
  display: block;
  font-size: 16px;
  line-height: 1.62; /* 26/16 */
  color: #FFFFFF;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__cart {

}
.cart-header {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.cart-header:hover .cart-header__text{
  text-decoration: underline;
}
.cart-header__text {
  
  line-height: 1.55; /* 28/18 */
}
.cart-header__quantity {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.header__button {
  flex: 0 0 auto;/*чтобы кнопка не плющилась, не изменяла размер*/
}
.header__logo,
.header__button,
.cart-header {
  position: relative;
  z-index: 2;
}

/* =====hero===== */
.main__hero {
}
.hero {
  /* header + отступ */
  padding-top: 160px;
  padding-bottom: 100px;
}
.hero__container {
  display: flex;
  gap: 32px;
}
.hero__content {
  flex: 0 1 50%;
  align-self: center;
}

/* .hero__title {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; 
  color: #FFFFFF;
  position: relative;
  margin-bottom: 28px;
} */

/* .hero__title::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 122px;
  top: -25px;
  left: -34px;
  background: url("../img/hero/decor.svg") 0 0 / 100% no-repeat;
} */
.header-main__text {
  line-height: 1.5; 
  margin-bottom: 33px;
  font-size: 18px;
}
.header-main__actions {
  display: flex;
  column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 479px){
  .header-main__actions {
    flex-direction: column;
  }
}
.header-main__button {
}
.button {
}

.hero__images {
  flex: 0 1 50%;
}
.images-hero {
  display: flex;
  gap: 9.615385%; /* 60/624 */
  justify-content: center;
}
.images-hero__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.images-hero__item {
  /* border-radius: 378px;
  overflow: hidden; */
}
.images-hero__item img {
  max-width: 100%;
}
/* =====clients===== */
.main__clients {
}
.clients {
  padding-top: 100px;
  padding-bottom: 70px;
}
.clients__container {
}
.clients__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.57; /* 22/14 */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 15px;
  justify-content: space-around;
}
.clients__item img{
  max-width: 100%;
}
/* =====services===== */
.services {
  padding-top: 70px;
  padding-bottom: 100px;
}
.services__container {
  display: flex;
  gap: 32px;
}
.services__content {
  flex: 0 1 50%;
  align-self: center;
}
.services__header {
}
.services__cards {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  column-gap: 32px;
}
.services__column {

}
.services__column:first-child {
  padding-top: 48px;
}
.services__card {
  margin-bottom: 32px;
}
.card-services {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  padding: 55px 25px;
}
.card-services__icon {
  margin-bottom: 16px;
}
.card-services__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 19px;
  line-height: 27px;
  color: #FFFFFF;
}
.card-services__text {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1100px) {
  .services__container {
    flex-direction: column;
  }
  .services__header .header-main__title,   
  .services__header .header-main__text {
    max-width: none;
  }   
}
@media (max-width: 620px) {
  .services__cards  {
    flex-direction: column;
  }
  .services__column:first-child {
  padding-top: 0px;
  }
  .services__card {
  margin-bottom: 32px;
}
}
/* =====why===== */
.why {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why__container {
  display: flex;
  column-gap: 64px;
  row-gap: 32px;
}
.why__images {
  flex: 0 1 50%;
}
.images-why {
  display: flex;
  position: relative;
  align-self: flex-end;
}
.images-why::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 122px;
  bottom: 0;
  left: -13px;
  background: url("../img/hero/decor.svg") 0 0 / 100% no-repeat;
}
.images-why__item {
}
.images-why__item img{
  max-width: 100%;
}
.images-why__item-1 {
}
.images-why__item-2 {
  align-self: flex-end;
}
.why__content {
  align-self: center;
  flex: 0 1 50%;
}
.why__header {
}
.header-main__list {
}
.header-main__item {
  position: relative;
  font-size: 16px;
  line-height: 1.5; /* 24/16 */
  min-height: 32px;
  padding-left: 40px;
  padding-top: 4px;
}
.header-main__item:not(:last-child) {
  margin-bottom: 21px;
}
.header-main__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(../img/why/vector.svg) center/ 50% no-repeat;

}
/* =====adventages===== */
.main__adventages {
}
.adventages {
  padding-top: 100px;
  padding-bottom: 100px;
}
.advantages__container {
  display: flex;
  row-gap: 32px;
}
.adventages__items {
  flex: 1 1 auto;
  margin-right: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width:650px){
  .adventages__items {
    grid-template-columns: auto;
  }
}
.adventages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.adventages__value {
  font-weight: 500;
  font-size: 51px;
  line-height: 1.19; /* 61/51 */
  color: #FFFFFF;
  margin-bottom: 32px;
}
.adventages__text {
  font-size: 18px;
  line-height: 1.50; /* 27/18 */
}
.adventages__image {
  flex: 0 0 38.167939%; /* 500/1310 */
  align-self: flex-end;
}
/*=====testimonials=====*/
.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials__container {

}
.testimonials__content {

}
.testimonials__header {
  margin-bottom: 64px;
}
.testimonials__header .header-main__title {
  max-width: none;
}
.testimonials__header .header-main__text {
  max-width: 740px;
}
.header-main__body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-main__body .header-main__actions {
  align-self: flex-end;
  flex: 0 0 auto;
}
.header-main__actions {
}
.header-main__body .header-main__text {
  margin: 0;
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
@media (max-width: 1100px) {
  .testimonials__items {
    grid-template-columns: auto;
  }
}
.testimonials__item {
}
.item-testimonial {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.item-testimonial__user {
}
.user-testimonial {
  display: flex;
  align-items: center;
  gap: 16px;

}
.user-testimonial__avatar {
}
.user-testimonial__avatar img{
  max-width: 100%;
}
.user-testimonial__body {
}
.user-testimonial__title {
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 7px;
}
.user-testimonial__company {
  font-size: 14px;
  line-height: 1.6;
}
.item-testimonial__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #FFFFFF;
}
.item-testimonial__text {
  font-size: 16px;
  line-height: 1.5;
  flex: 1 1 auto;
}
.item-testimonial__rating {
}
/* =====blog===== */
.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.blog__container {
}
.blog__content {
}
.blog__header {
  margin-bottom: 64px;
}
.header-main {
}
.header-main__actions {
  
}
.blog .header-main__button {
  padding: 16px 42px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
.blog__item {

}
.item-blog {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
  padding: 10px;
}
.item-blog__image {
  display: block;
  padding-bottom: 49.238579%; /* 194/394 */
  position: relative;
}
.item-blog__image img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-blog__body {
  padding: 36px 26px;
}
.item-blog__date {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(129, 129, 139, 0.9);
  margin-bottom: 20px;
}
.item-blog__title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4;
  color: #FFFFFF;
  margin-bottom: 30px;
  display: block;
}
.item-blog__title:hover {
  text-decoration: underline;
}
.item-blog__link-title {
  color: #FFFFFF;
}
.item-blog__text {
  font-size: 16px;
  line-height: 1.5;
  color: #9C9C9C;
  margin-bottom: 21px;
}
.item-blog__link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 22px;
  color: #3D96F4;
  align-self: flex-end;
}
@media (max-width: 1100px) {
  .blog__items {
    gap: 20px;
  }
  .item-blog__body {
    padding: 25px 15px;
  }
}
/* =====adaptive header===== */
@media (max-width: 991.98px) {
  .header__container,
  .menu__list {
    column-gap: 25px;
  }
  .button {
    padding: 14px 20px;
  }
  .header__container {
    min-height: 90px;
  }
  .hero {
  /* header + отступ */
  padding-top: 120px;
  padding-bottom: 60px;
}
  /* .hero__title {
    font-size: 44px;
  } */
  .clients {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .services {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .why {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .adventages {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .advantages__container {
    flex-direction: column;
  }
  .adventages__image {
    align-self: center;
  } 
  .adventages__items {
    margin-right: 0;
  }
  .testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .testimonials__header {
  margin-bottom: 40px;
  }
  .blog {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .blog__header {
  margin-bottom: 44px;
  }
}
.blog__header .header-main__title {
  max-width: none;
}
.blog__header .header-main__text {
  max-width: 740px;
}

/* =====burger===== */
/*767.98px  потому что если 768 это ipad mini и бургера не должен быть*/
@media (max-width: 767.98px) {
  .header__container,
  .menu__list {
    column-gap: 15px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .icon-menu span {
    width: 0;

  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0D0D11;
    left: -100%;
    /* убираем сначала меню */
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  /* =====прокладка для того чтобы меню не заезжало===== */
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #0D0D11;
    z-index: 2;
    transition: left 0.3s ease 0s;
  } 
  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    font-size: 32px;
  }
  .header__container {
    min-height: 70px;
  }
  .hero {
  /* header + отступ */
  padding-top: 100px;
  padding-bottom: 30px;
  }
  .hero__container {
    flex-direction: column;
  }
  .hero__content {
    align-self: stretch;
  }
  .header-main__title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .header-main__text {
    margin-bottom: 15px;
  }
  .clients {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .services {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .why {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .why__container {
  flex-direction: column-reverse;
  }
  .adventages {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .header-main__body {
    flex-direction: column;
    gap: 0;
  } 
  .header-main__body .header-main__actions {
    align-self: flex-start;
  }
  .header-main__body .header-main__text {
    margin-bottom: 15px;
  }
  .item-testimonial {
    padding: 30px 15px;
  }
  .blog {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .blog__items {
    grid-template-columns: auto;
  }
  .blog__header {
  margin-bottom: 25px;
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}
@media (max-width: 560px) {
  .header__logo {
    /* width: 32px; */
    flex: 0 0 32px;
    overflow: hidden;
  }
  .cart-header__text {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
  .header-main__text {
    max-width: 500px;
  }
}